* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
}

h1 {
    font-family: 'Tenor Sans', sans-serif;
    color: #988;    
}

h1+p {
    margin-bottom: 5em;    
}

h2 {
    margin-top: 1em;
    font-size: 1.25em;
    font-family: 'Tenor Sans', sans-serif;
    color: #544;
    margin-bottom: 0.5em;
}

p {
    font-family: 'Archivo Narrow', sans-serif;
    color: #544;
    margin-bottom: 1em;
    font-size: 1em;
    text-align: justify;
    text-justify:distribute;    
}

.console {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: calc(100vh - 80px);
    padding: 40px;
    background-color: #f3f3f3;

}

.navigation {
    width: calc(100vw - 480px);
    height: 100vh;
    background: radial-gradient(circle, #dee 0%, #edd 100%);
    background-attachment: fixed;
}

footer {
    font-family: 'Archivo Narrow', sans-serif;
    color: #544;
    margin-bottom: 0.5em;
    font-size: small;
}

.label {
    color: #fff;
    font-family: sans-serif;
    transition: -webkit-text-stroke 500ms;
    -webkit-text-stroke: 1px #333;
}

.label:hover {
    -webkit-text-stroke: 1px #fff;
    cursor: pointer;    
}

/* .label:hover + i {
  
    z-index: 2147483647;
} */

.tooltip {
    position: relative;
    display: inline-block;   
    
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    margin-bottom: 10px; 
    background-color: #fff;
    color: #544;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
    position: absolute;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;    
    border-width: 5px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
  }

.tooltiptext {    
    -webkit-text-stroke: 0;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: small;

}

.tooltip:hover .tooltiptext {
    visibility: visible;    
}

input {
    background: #f3f3f3;
    border: none;
    padding: 10px;
    height: 10px;
    width: calc(100% - 20px);
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 3px 3px 6px #dcc, inset -3px -3px 6px #ffffff;
  }

.slidercontainer {
    width: 100%;
}

.slider-labels {
    display: flex;    
    justify-content: center;
    font-family: 'Archivo Narrow', sans-serif;
    color: #544;
    margin-bottom: 0.5em;
    font-size: small;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    background: #f3f3f3; /* Grey background */
    outline: none; /* Remove outline */
    padding: 5px;
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 10px; /* Set a specific slider handle width */
    height: 10px; /* Slider handle height */
    background: #544; /* Green background */
    border-radius: 50%;
    cursor: pointer; /* Cursor on hover */
    box-shadow: 3px 3px 6px #abb, -3px -3px 6px #fff;
    
}
  
.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #f3f3f3; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

input::placeholder {
    color: #988;
    font-family: 'Archivo Narrow', sans-serif;
  }
  
