* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow: hidden;
}

body {
    background: linear-gradient(45deg, #ccc 0%, #fff 100%);
    background-attachment: fixed;
}

.label {
    color: #FFF;
    font-family: sans-serif;
    -webkit-text-stroke: 1px #333;
}

.label:hover {
    color: #FFF;
}
